{% extends 'reviews_ali/base.html' %}
{% block title %} {% endblock title %}
{% block header %} bg1 {% endblock header %}
{% block movie %}
<div class="left-ads-display col-lg-9">
    <div class="row">
            <h4>Снежный барс (ирбис, ак барс) - крупное хищное млекопитающее из семейства
   кошачьих. Обитает в горных массивах Афганистана, Бирмы, Бутана, Индии,
   Казахстана, Киргизстана, Китая, Монголии, Непала, Пакистана, России,
   Таджикистана и Узбекистана. Ирбис отличается тонким, длинным, гибким телом,
   относительно короткими лапами, небольшой головой и очень длинным хвостом.
   Длина снежного барса вместе с хвостом составляет 200-230 см, вес до 55 кг.
   Окраска меха светлая, дымчато-серая с кольцеобразными или сплошными тёмными
   пятнами.
</h4>
    </div>

    <div class="grid-img-right mt-4 text-right bg bg1">
    </div>
</div>
{% endblock movie %}