{% extends 'reviews_ali/base.html' %}
{% block title %} {% endblock title %}
{% block header %} bg1 {% endblock header %}
{% block movie %}
<div class="left-ads-display col-lg-9">
    <div class="row">
            <h4>Что такое искусственный интеллект?
Термин «искусственный интеллект» был впервые введен десятилетиями назад в 1956 году Джоном Маккарти на конференции в Дартмуте. Он определил ИИ как:
«Наука и техника – создания интеллектуальных машин».
</h4>
    </div>

    <div class="grid-img-right mt-4 text-right bg bg1">
    </div>
</div>
{% endblock movie %}